* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* fonts */

@font-face {
  font-family: "italic";
  src: url("./assets/fonts/Playwrite_AU_SA/static/PlaywriteAUSA-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto/static/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "serif";
  src: url("./assets/fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
}

body,
.App {
  width: 100%;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: #dee2e6;
  color: #10474f;
}

.header-light {
  background-color: #ced4da;
  color: #10474f;
}

.header-night {
  color: #fff;
  background-color: #262626;
}

.night {
  background-color: #333;
  color: #fff;
}

/* header */

.burger-menu-outer-container {
  display: none;
}
.burger-menu-inner-conatainer {
  display: none;
}
.header-container-outer {
  width: 100%;
  border-bottom: 1px solid #6c757d;
}

.header-container-inner {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  margin: auto;
}

.image {
  width: 60px;
  height: 60px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.theme-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.navigation-nav {
  display: flex;
  align-items: center;
}

.navigation-list {
  margin: 0 20px;
  cursor: pointer;
  font-family: "italic";
  letter-spacing: 1.6px;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu {
  display: none;
}
/* blogs */

.blog-container {
  width: 80%;
  margin: auto;
  padding: 50px 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog {
  max-width: 350px;
  width: 100%;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  position: relative;
}

.blog-content h1 {
  font-size: 18px;
  font-family: "italic";
  margin-bottom: 5px;
}

.blog-image {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.blog-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.blog-image:hover img {
  transform: scale(1.6);
}
.description {
  font-size: 16px;
  font-family: "roboto";
}

.content {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  font-family: "serif";
  font-size: 14px;
  margin-bottom: 5px;
  font-style: italic;
}

.link {
  font-family: "italic";
  color: #fa94aa;
  font-size: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.fav-icon-container {
  background-color: #d1d4d6;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 30px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin: 3px 0;
}

.tag {
  padding: 4px 8px;
  font-size: 12px;
  font-family: "roboto";
}

.no-blogs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no-blogs h1 {
  font-family: "italic";
  font-size: 30px;
  letter-spacing: 1.8px;
  text-align: center;
}

/* loader */

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

/* autho */

.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.pop-up-warning {
  font-family: "roboto";
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #752336;
  padding: 10px 0;
}

.pop-up-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: solid 2px #752336;
  font-family: "roboto";
  font-size: 15px;
  background-color: transparent;
  color: #752336;
  cursor: pointer;
  border-radius: 10px;
  max-width: 150px;
  width: 100%;
  transition: all 500ms ease;
}
.pop-up-button:hover {
  background-color: #752336;
  color: #fff;
}

@media (max-width: 1024px) {
  .desktop-navigation {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .burger-menu-outer-container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .burger-menu-inner-container {
    display: block;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    animation: menuSlider 400ms ease-in-out;
  }

  .mobile-menu-icons {
    margin: 50px auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .blog-container {
    width: 100%;
    justify-content: center;
  }
  @keyframes menuSlider {
    0% {
      transform: translateX(100%);
    }

    20% {
      transform: translateX(80%);
    }
    30% {
      transform: translateX(60%);
    }

    50% {
      transform: translateX(40%);
    }
    70% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
